{{ define "main" }}
    <main aria-role="main">
      <header class="homepage-header">
        <h1 style="padding-bottom: 0.6em">{{.Title}}</h1>
      </header>
      <div class="homepage-content">
        {{.Content}}
      </div>
      <div>
      </div>
    </main>
{{ end }}

